% PAI-C-fill v0.1

\section{Method}
\label{sec:method}

\subsection{Overview}
{{ idea.proposed_approach | trim }}

\subsection{Detailed Procedure}
{{ experiment.proposed_method | trim }}

% TODO: insert a system diagram in figures/ and reference it here:
% \begin{figure}[t]
%   \centering
%   \includegraphics[width=0.95\linewidth]{figures/overview}
%   \caption{Overview of the proposed approach.}
%   \label{fig:overview}
% \end{figure}
